<a href="https://colab.research.google.com/github/2003A52019/2003A52019/blob/main/training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter number"))
sum=0
rem=0
temp=num
while(temp>0):
  rem=temp%10
  sum=sum+rem
  temp=temp//10
print(sum)
if(num%sum==0):
  print("nivens number")
else:
  print("not nivens number")

enter number23
5
not nivens number

In [ ]:
num=123
n_string=str(num)
r_num=" ".join(reversed(n_string))
print(r_num)

3 2 1

In [ ]:
def reverse(n):
  if len(n)==0:
    return n
  return reverse(n[1:])+n[0]
num=1234
n_string=str(num)
r_num=reverse(n_string)
print("reversed num:"+r_num)

reversed num:4321

In [ ]:
num=int(input("enter the number"))
while num!=0:
  temp=num%10
  print(temp,end=" ")
  num=num//10

enter the number1234
4 3 2 1

In [ ]:
n=int(input("enter number"))
avg=0.0
s=0
for i in range(1,n+1):
  s=s+i
avg=s/i
print("sum",s)
print("avgerage",avg)

enter number10
sum 55
avgerage 5.5

In [ ]:
n=int(input("enter number:"))
for i in range(1,11):
  print(i,"*",n,i*n)

enter number:5
1 * 5 5
2 * 5 10
3 * 5 15
4 * 5 20
5 * 5 25
6 * 5 30
7 * 5 35
8 * 5 40
9 * 5 45
10 * 5 50

In [ ]:
for i in range(1900,2101):
  if(i%4==0):
    print(i,end=" ")

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [ ]:
n=int(input("enter number:"))
m=1/n

In [ ]:
n=int(input("enter number"))
s=0.0
for i in range(1,n+1):
  s=s+1/i
print("sum",s)

enter number8
sum 2.7178571428571425

In [ ]:
n=int(input("enter number"))
s=0.0
for i in range(1,n+1):
  s=s+1/(i**i)
print("sum",s)

enter number7
sum 1.2912859347732235

In [ ]:
str="hi"
print(str.capitalize())

Hi

In [ ]:
str="hi"
print(str.center(10,'$'))

$$$$hi$$$$

In [ ]:
str="hello"
print(str.center(11,'$'))

$$$hello$$$

In [ ]:
str="he"
substr="hehellhehell"
print(substr.count(str,0,len(substr)))

4

In [ ]:
str="ll"
substr="hehellhehell"
print(substr.count(str,0,len(substr)))

2

In [ ]:
str="he is a tall person"
print(str.find("tall",0,len(str)))

8

In [ ]:
#left justification
str="hi"
print(str.ljust(20,'^'))

hi^^^^^^^^^^^^^^^^^^

In [ ]:
#right justification
str="hi"
print(str.rjust(20,'^'))

^^^^^^^^^^^^^^^^^^hi

In [ ]:
#syntax for zfill(width)
str="6"
print(str.zfill(4))

0006

In [ ]:
print(ord("A"))
print(ord("n"))

65
110

In [ ]:
str="Zebra"
print(max(str))
print(min(str))

r
Z

In [ ]:
str="hi how are you"
print(str.title())

Hi How Are You

In [ ]:
str="Hi How Are You"
print(str.swapcase())

hI hOW aRE yOU

In [ ]:
str="Hi How Are You"
print(list(enumerate(str)))

[(0, 'H'), (1, 'i'), (2, ' '), (3, 'H'), (4, 'o'), (5, 'w'), (6, ' '), (7, 'A'), (8, 'r'), (9, 'e'), (10, ' '), (11, 'Y'), (12, 'o'), (13, 'u')]

In [ ]:
str="INDIA HAS WON"
for i in str:
  print(i,end=' ')

I N D I A   H A S   W O N

In [ ]:
#caeser cipher
str="india"
index=0
while index <len(str):
  letter=str[index]
  print(chr(ord(letter)+ 2),end=' ')
  index +=1

k p f k c

In [ ]:
str="ate"
i=0
list=['a','b','c','d','e']
while i <len(list):
  s=list[i]+str
  print(s)
  i=i+1

aate
bate
cate
date
eate

In [ ]:
val=int(input("enter the posistion"))
a=b=0
for i in range(1,val+1):
  if(i%2==0):
    a=a+7
  else:
    b=b+6
if val%2!=0:
  print('{} at accordance {}'.format(val,a-7))
else:
  print('{} at accordance {}'.format(val,b-6))

enter the posistion13
13 at accordance 35

In [ ]:
n=int(input())
a=b=0
list=[]
for i in range(n+1):
  if(i%2==0):
    a=a+7
    list.append(a)
  else:
    b=b+6
    list.append(b)
print(list)
m=int(input("enter position:"))
for i in range(0,n+1):
  if(i==m):
    print(list[i])

12
[6, 7, 12, 14, 18, 21, 24, 28, 30, 35, 36, 42]
enter position:5
21

In [ ]:
val=int(input("enter the posistion"))
a=b=1
for i in range(1,val+1):
  if(i%2==0):
    a=a*2
  else:
    b=b*3
if val%2!=0:
  print('{} at accordance {}'.format(val,a//2))
else:
  print('{} at accordance {}'.format(val,b//3))

In [ ]:
n=int(input())
a=b=1
list=[]
for i in range(n+1):
  if(i%2==0):
    a=2**i
    list.append(a)
  else:
    b=3**i
    list.append(b)
print(list)
m=int(input("enter position:"))
for i in range(1,n+1):
  if(i==m):
    print(list[i])

[1, 3, 4, 27, 16, 243, 64, 2187, 256, 19683, 1024, 177147, 4096, 1594323]
16

In [ ]:
for i in range(5):
  for m in range(i+1):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [ ]:
rows=int(input("enter number of rows"))
for i in range(rows,0,-1):
  for j in range(0,i):
    print(j+1,end=" ")
  print("\n")

enter number of rows5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [ ]:
rows=int(input("enter number of rows"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if(j<i):
      print(' ',end=' ')
    else:
      print("@",end=' ')
  print("\n")

enter number of rows4
@ @ @ @

  @ @ @

    @ @

      @

In [ ]:
rows=int(input("enter number of rows"))
i=1
while(i<=rows):
  j=1
  while(j<=rows):
    if j<i:
      print(' ',end=' ')
    else:
      print('@',end=' ')
    j=j+1
  i=i+1
  print()

enter number of rows5
@ @ @ @ @
  @ @ @ @
    @ @ @
      @ @
        @

In [ ]:
rows=int(input("enter number of rows"))
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if(j<i):
      print(' ',end=' ')
    else:
      print(" @ ",end=' ')
  print("\n")

enter number of rows6
 @   @   @   @   @   @

   @   @   @   @   @

     @   @   @   @

       @   @   @

         @   @

           @

In [ ]:
rows=int(input("enter number of rows"))
i=1
while i<=rows:
  j=rows
  while j>i:
    print(' ',end=" ")
    j-=1
  print('*',end=" ")
  k=1
  while k<2 *(i-1):
    print(' ',end=" ")
    k+=1
  if i==1:
    print()
  else:
    print("*")
  i+=1
i=rows-1
while i>=1:
  j=rows
  while j>i:
    print(' ',end=" ")
    j-=1
  print('*',end=" ")
  k=1
  while k<2*(i-1):
    print(' ',end=" ")
    k+=1
  if i==1:
    print()
  else:
    print("*")
  i-=1

enter number of rows4
      *
    *   *
  *       *
*           *
  *       *
    *   *
      *

In [ ]:
rows=5
k=2*rows-2
for i in range(0,rows):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("* ",end="")
  print("")
k=rows-2
for i in range(rows,  -1, -1):
  for j in range(k, 0, -1):
    print(end=" ")
  k=k+1
  for j in range(0,i+1):
    print("* ",end="")
  print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [ ]:
word="California"
x= ""
for i in word:
  x+=i
  print(x)

C
Ca
Cal
Cali
Calif
Califo
Califor
Californ
Californi
California

In [ ]:
a=65
r=7
for i in range(0, r):
  for j in range(0, i+1):
      ch=chr(a)
      print(ch,end=' ')
      a+=1
  print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [ ]:
a=65
r=7
m=(2*a)-2
for i in range(0, r):
  for j in range(0,m):
    print(end=" ")
  m=m-1
  for j in range(0,i+1):
      ch=chr(a)
      print(ch,end=' ')
      a+=1
  print(" ")

                                                                                                                                A
                                                                                                                               B C
                                                                                                                              D E F
                                                                                                                             G H I J
                                                                                                                            K L M N O
                                                                                                                           P Q R S T U
                                                                                                                          V W X Y Z [ \

In [ ]:
rows=10
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(i*j, end=" ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
def diff(a,b):
  return a-b
x=20
y=10
operation=diff
print(operation(x,y))

10

In [ ]:
#program to display a string n number of times
def fun():  #calling a function
  for i in range(5):
    print("hi students")
fun()

hi students
hi students
hi students
hi students
hi students

In [ ]:
def diff(a, b):
  result = a-b
  print("difference of a and b is:",result)
x=20
y=10
diff(x,y)

difference of a and b is: 10

In [ ]:
for i in range(1,10):
  count=0
  for j in range(2,(j//2+1)):
    if(j % i==0):
      count=count+1
      break
    
if(count==0 and j!=1):
  print(j,end='')

2

In [ ]:
i=1
j=10
for num in range(i,j+1):
  if num>1:
    for i in range(2, num):
      if(num % i) == 0:
        break
    else:
      print(num,end=" ")

2 3 5 7

In [ ]:
a=int(input())
b=int(input())
if(a<=0 or b<=0 or a>b):
  print("provide ")

In [ ]:
n=int(input("enter the size:"))
val=n * 2 -1
for i in range(1, val+1):
  for j in range(1, val+1):
    if i==j or j==val-i +1:
      print('*',end='')
    else:
      print(' ',end=' ')
  print()

enter the size:4
*          *
  *      *
    *  *
      *
    *  *
  *      *
*          *

In [ ]:
n=int(input("enter the size:"))
for i in range(1,2*size):
  for j in range(1,2*size):
    if i==size or j==size:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

enter the size:4
      *
      *
      *
* * * * * * *
      *
      *
      *

In [ ]:
n=int(input("enter the size:"))
val=0
st=int(n/2+1)
if n%2!=0:
  for i in range(1, int(n/2+2)):
    for j in range(1, val+1):
      print(' ',end='')
    for k in range(1, st+1):
      print('*',end=' ')
    print()
    val+=1
    st-=1
  val-=2
  st+=2
  for i in range(1, int(n/2+2)):
    for j in range(1, val+1):
      print(' ',end='')
    for k in range(1, st+1):
      print('*',end=' ')
    print()
    val-=1
    st+=1
else:
  print("provide accurate input")

enter the size:4
provide accurate input

In [ ]:
#function - space is allocated in the memeory location
#function is into 2 parts
#1.function header
#2.function body

#Arguments passed with return values

In [ ]:
def add(x,y):
  return x+y
a=10
b=20
operation=add
print(operation(a,b))

30

In [ ]:
def fun():
  for i in range(10):
    print("abcde")

In [ ]:
var1=" hi "
def abc():
  global var2
  var2=" goodmorning"
  print("in the function var1 is - ",var1)
abc()
print("outside function is var2 -",var2)

in the function var1 is -   hi
outside function is var2 -  goodmorning

In [ ]:
var1=" hi "
def abc():
  global var2
  var2=" goodmorning"
  print("in the function var1 is - ",var1)
abc()
print("outside function is var2 -",var1)
var1=" verygood"
print("outside function after modify",var1)

in the function var1 is -   hi
outside function is var2 -  hi
outside function after modify  verygood

In [ ]:
#program to demo access of var in inner and outer function

def outer_fun():
  outer_var=11
  def inner_fun():
    inner_var=22
    print("inner variable",inner_var)
  inner_fun()
  print("outer variable",outer_var)
outer_fun()

inner variable 22
outer variable 11

In [ ]:
#writing a function and return its cubation format
def cube(x):
  return(x*x*x)

num=10
result=cube(num)
print("cube of", num, " = ",result)

cube of 10  =  1000

In [ ]:
#writing a function to understand a mismatch parameters
def abc(x):
  print(" hi students"+x)
abc(5)#strings doesnot support + operator

In [ ]:
#writing a function to understand a mismatch parameters
def abc(x):
  print(" hi students"+"x",x)
abc(5)#strings doesnot support + operator

 hi studentsx 5

In [ ]:
#writing a function to understand a mismatch parameters
def fun(i):
  print("orange",i)
j=10
fun(j)

orange 10

In [ ]:
#writing a function to understand a mismatch parameters
def fun(i):
  print("orange",i)
fun(5+2*4)

orange 13

In [ ]:
#program to demonstrate key arguments

def display(str,int_x,float_y):
  print("the string is ",str)
  print("the integer is ",int_x)
  print("the float is ",float_y)
display(float_y= 5678.9998, str=" hi",int_x=1234)

the string is   hi
the integer is  1234
the float is  5678.9998

In [ ]:
#program to demonstrate key arguments

def display(name,age,salary):
  print("name is ",name)
  print("age is ",age)
  print("salary is",salary)
a="Lucky"
b=19
c=67000
display(name=a,age=b,salary=c)

name is  Lucky
age is  19
salary is 67000

In [ ]:
addition=lambda x,y,z:x+y+z
print("sum=",addition(10,20,30))

sum= 60

In [ ]:
def small(a,b):
  if(a<b):
    return a
  else:
    return b
addition=lambda x,y:x+y
difference=lambda x,y:x-y
print("smaller of two number:",small(addition(-3,-2),difference(-1,2)))

smaller of two number: -5

In [ ]:

def increment(y):
  return (lambda x:x+1)(y)

a=100
print("a=",a)
print("a after incrementing")
b=increment(a)
print(b)

a= 100
a after incrementing
101

In [ ]:
#program to pass a lambda function as an function argument

def fun(f,n):
  print(f(n))
twice=lambda x:x*2
triple=lambda x:x*3
fun(twice,4)
fun(triple,3)

8
9

In [ ]:
add=lambda x,y:x+y
m_and_add=lambda x,y,z : x*add(y,z)
print(m_and_add(3,4,5))

27

In [ ]:
x=lambda : sum(range(1,11))
print(x())

55

In [ ]:
#swapping of two numbers
def swap(a,b):
  temp=a
  a=b
  b=temp
  return(a,b)

a=10
b=20
print((a,b))
print(swap(a,b))

(10, 20)
(20, 10)

In [ ]:
#swapping of two numbers
def swap(a,b,c):
  temp=b
  b=a
  a=c
  c=temp
  return(a,b,c)

a=10
b=20
c=30
print((a,b,c))
print(swap(a,b,c))

(10, 20, 30)
(30, 10, 20)

In [ ]:
#swapping of two numbers
def swap(a,b,c):
  temp=b
  b=c
  c=a
  a=temp
  return(a,b,c)

a=10
b=20
c=30
print((a,b,c))
print(swap(a,b,c))

(10, 20, 30)
(20, 30, 10)

In [ ]:
def swap(a,b):
  a,b=b,a
  return(a,b)

a=10
b=20
print((a,b))
print(swap(a,b))

(10, 20)
(20, 10)

In [ ]:
def swapList(newList):
    size = len(newList)
    # Swapping 
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
    return newList
# Driver code
newList = [12,35,9,56,24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [ ]:
def name(fn,ln):
  s=' '
  n=fn+s+ln
  return n
print(name("Lucky","valupadasu"))

Lucky valupadasu

In [ ]:
def n(x):
  if(x%2==0):
    return 1
  else:
    return -1

x=int(input("enter a number:"))
y=n(x)
if(y==0):
  print("entered number is even")
else:
  print("enter number is odd")

enter a number:3
enter number is odd

In [ ]:
p=200
r=3
t=6
si=p*t*r/100
print(si)

36.0

In [ ]:
def fact(n):
  if(n==1 or n==0):
    return 1
  else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

In [ ]:
#program to find the exp(x,y) using recursion function
def exp(x,y):
  return x**y
a=2
b=3
operation=exp
print(operation(a,b))

8

In [ ]:
#program to find the exp(x,y) using recursion function
def exp(x,y):
  if(y==0):
    return 1;
  else:
    return x*exp(x,y-1)

x=int(input("enter a value:"))
y=int(input("enter a value:"))
print(exp(x,y))

enter a value:3
enter a value:3
27

In [ ]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

no=int(input("enter number"))
if no <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(no):
       print(recur_fibo(i))

enter number5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
def fib(n):
  if n<2:
    return 1
  return (fib(n-1)+fib(n-2))
n=int(input("enter the range:"))
for i in range(n):
  print(fib(i),end=" ")

enter the range:10
1 1 2 3 5 8 13 21 34 55

In [ ]:
def fib(n):
  if n<2:
    return 1
  return (fib(n-1)+fib(n-2))
n=int(input("enter the range:"))
for i in range(n):
  print("Fibonacci(",i,") = ",fib(i))

In [ ]:
def hanoi(n,source,intermediate,destination):
    if n==1:
        print (source,intermediate)
        return
    hanoi(n-1,source,intermediate,destination)
    print ("move",n,source,destination)
    hanoi(n-1,intermediate,destination,source)    

n = 3
hanoi(n,'source','intermediate','destination')

source intermediate
move 2 source destination
intermediate destination
move 3 source destination
intermediate destination
move 2 intermediate source
destination source

In [ ]:
#iteration

def hanoi(n,a,b,c):
  if n>0:
    hanoi(n-1,a,c,b)
    if a:
      c.append(a.pop())
    hanoi(n-1,b,a,c)
a=[1,2,3,4]
b=[]
c=[]
print(a,b,c)
hanoi(len(a),a,b,c)

[1, 2, 3, 4] [] []

In [ ]:
#check if two strings match where one string contains wildcard characters

def solve(a,b):
  n,m=len(a),len(b)
  if n==0 and m==0:
    return True
  if n>1 and a[0]=='*' and m==0:
    return False
  if(n>1 and a[0]=='?') or (n !=0 and m !=0 and a[0]==b[0]):
    return solve(a[1:],b[1:])
  if n!=0 and a[0]=='*':
    return solve(a[1:],b) or solve(a,b[1:])
  return False
x=str(input("enter the string with char"))
y=str(input("enter the string for match"))
print("with wild characters:",x)
print("without wild characters ::",y)
print(solve(x,y))

enter the string with charledk
enter the string for matchlucky
with wild characters: ledk
without wild characters :: lucky
False

In [ ]:
def test(strs):
    return sum(map(ord,filter(str.isupper,strs)))
strs= "HeLIo"
print(strs)
print(test(strs))

HeLIo
221

In [ ]:
list=[1,2,3,4,5,6]
start = 0
end = len(list)
step = 2
for i in range(start, end, step):
  x=i
  print(list[x:x+step])

[1, 2]
[3, 4]
[5, 6]

In [ ]:
def mul(n):
  total=1
  for x in n:
    total *=x
  return total
print(mul((1,2,3,4,5,6)))

720

In [ ]:
#oopc
#program to access class variable using class object

class abc:
  var=22
obj=abc()
print(obj.var)

22

In [ ]:
class abc:
  var=22
  var2=99
  def display(self):
    print("This is class method")
obj=abc()
print(obj.var)
print(obj.var2)
obj.display()

22
99
This is class method

In [ ]:
#program to illlustrate the constructor
#__init__()......method

class abc:
  def __init__(self, val):
    print("in class method")
    self.val=val
    print("the val is:",val)
obj=abc(10)

in class method
the val is: 10

In [ ]:
#program to differentiate between class and object variable

class abc:
  class_var=0 #class var
  def __init__(self,var):
    abc.class_var +=1
    self.var=var  #obj var
    print("the obj var is",var)
    print("the class val is",abc.class_var)
obj1=abc(10)
obj2=abc(20)
obj3=abc(30)

the obj var is 10
the class val is 1
the obj var is 20
the class val is 2
the obj var is 30
the class val is 3

In [ ]:
#program illustrating even or odd

class Number:
  even=0
  def check(self,num):
    if num%2==0:
      self.even=1
  def even_odd(self,num):
    self.check(num)
    if self.even==1:
      print(num, "is even ")
    else:
      print(num," is odd ")

In [ ]:
#illustrating modifications on numerics
class Number:
  evens=[]
  odds=[]
  def __init__(self,num):
    self.num=num
    if num%2==0:
      Number.evens.append(num)
    else:
      Number.odds.append(num)
n1=Number(21)
n2=Number(22)
n3=Number(23)
n4=Number(24)
n5=Number(25)
print("even numbers",Number.evens)
print("odd numbers",Number.odds)

even numbers [22, 24]
odd numbers [21, 23, 25]

In [ ]:
#delete method
#general syntax __del__

class abc():
  class_var = 0
  def __init__(self, var):
    abc.class_var +=1
    self.var=var
    print("The obj value is",var)
    print("the class value is",abc.class_var)
  def __del__(self):
    abc.class_var -=1
    print("object with value %d is going out of scope"%self.var)

obj1=abc(11)
obj2=abc(22)
obj3=abc(33)

del obj1
del obj2
del obj3

The obj value is 11
the class value is 1
The obj value is 22
the class value is 2
The obj value is 33
the class value is 3
object with value 11 is going out of scope
object with value 22 is going out of scope
object with value 33 is going out of scope

In [ ]:
#program to demonstrate get and set items in a list

class numbers:
  def __init__(self, mylist):
    self.mylist=mylist
  def __getitem__(self, index):
    return self.mylist[index]
  def __setitem__(self, index, val):
    self.mylist[index]=val

numlist=numbers([1,2,3,4,5,6,7,8,9])
print(numlist[3])
print(numlist.mylist)
numlist[3]=10
print(numlist.mylist)

4
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 10, 5, 6, 7, 8, 9]

In [ ]:
class ABC():
  def __init__(self, name, var):
    self.name=name
    self.var=var
  def __repr__(self):
    return repr(self.var)
  def __len__(self):
    return len(self.name)
  def __cmp__(self,obj):
    return self.var - obj.var

obj=ABC("abcdef",10)
print("The value stored in obj is",repr(obj))
print("The length of the name stored in obj",len(obj))
obj1=ABC("ghijkl",1)
val=obj.__cmp__(obj1)
if val==0:
  print("both values are equal")
elif val==-1:
  print("1st value is less than second")
else:
  print("2nd value is less than 1st")

The value stored in obj is 10
The length of the name stored in obj 6
2nd value is less than 1st

In [ ]:
#program to illustrate how to use private method

class abc():
  def __init__(self, var):
    self.__var=var
  def __display(self):
    print("this from class method,var = ",self.__var)
obj=abc(10)
obj._abc__display()

this from class method,var =  10

In [ ]:
#To call a class method fom another method of same class

class abc():
  def __init__(self, var):
    self.var=var
  def display(self):
    print("var is=",self.var)
  def add_2(self):
    self.var +=2
    self.display()

obj=abc(10)
obj.add_2()

var is= 12

In [ ]:
#program to show how a class method calls a function which is defined in the global name space

def scale_10(x):
  return x*10
class abc():
  def __init__(self, var):
    self.var=var
  def display(self):
    print("var is =",self.var)
  def modify(self):
    self.var=scale_10(self.var)

obj=abc(10)
obj.display()
obj.modify()
obj.display()

var is = 10
var is = 100

In [ ]:
#program to demonstrate builtin function

class abc():
  def __init__(self,var):
    self.var=var
  def display(self):
    print("var is", self.var)
obj=abc(10)
obj.display()
print("check whether obj has attibute var ?")
getattr(obj,'var')
setattr(obj,'var',50)
print("after setting value,var is", obj.var)
setattr(obj, 'count',10)
delattr(obj,'var')
setattr(obj, 'var',40)
print("after deleting the atrribute",obj.var)

var is 10
check whether obj has attibute var ?
after setting value,var is 50
after deleting the atrribute 40

In [ ]:
class abc():
  def __init__(self, var1, var2):
    self.var1=var1
    self.var2=var2
  def display(self):
    print("var1 is=",self.var1)
    print("var2 is=",self.var2)
obj=abc(10, 12.34)
obj.display()
print("object.__dict__ -",obj.__dict__)
print("object.__doc__ -",obj.__doc__)
print("object.__name__ -",abc.__name__)
print("object.__module__ -",obj.__module__)
print("object.__bases__ -",abc.__bases__)

var1 is= 10
var2 is= 12.34
object.__dict__ - {'var1': 10, 'var2': 12.34}
object.__doc__ - None
object.__name__ - abc
object.__module__ - __main__
object.__bases__ - (<class 'object'>,)

In [ ]:
class Solution:
   def solve(self, nums):
      evens = [num for num in nums if num % 2 == 0]
      odds = [num for num in nums if num % 2 != 0]
      evens.sort()
      odds.sort(reverse=True)
      even_i = 0
      odd_i = 0
      for index in range(len(nums)):
         if nums[index] % 2 == 0:
            nums[index] = evens[even_i]
            even_i += 1
         else:
            nums[index] = odds[odd_i]
            odd_i += 1
      return nums
ob = Solution()
print(ob.solve([9, 14, 12, 91, -4, 5]))

[91, -4, 12, 9, 14, 5]

In [ ]:
Short_list =[5,7,3,2,8,1,0,10,9,4,6]
def sort_list(my_list):
  even_list = []
  odd_list = []
  for i in my_list:
      if i % 2 == 0:
          even_list.append(i)
      else:
          odd_list.append(i)
  even_list.sort(),odd_list.sort()
  even_list.extend(odd_list)
  return even_list

print(sort_list(Short_list))

[0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [ ]:
Short_list =[5,7,3,2,8,1,0,10,9,4,6]
def sort_list(my_list):
  even_list = []
  odd_list = []
  for i in my_list:
      if i % 2 == 0:
          even_list.append(i)
      else:
          odd_list.append(i)
  even_list.sort(),odd_list.sort()
  even_list.extend(odd_list)
  return even_list

print(sort_list(Short_list))

[0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [ ]:
import gc
print("garbage collection threshold",gc.get_threshold())

garbage collection threshold (700, 10, 10)

In [ ]:
#Abstarct class
#its the process of handling the information by hiding ingormal or unnecessary infomation to the user

class fruit:
  def taste(self):
    raise NotImplementedError()
  def rich(self):
    raise NotImplementedError()
  def color(self):
    raise NotImplementedError()

class mango(fruit):
  def taste(self):
    return "sweet"
  def rich(self):
    return "vitamin A"
  def color(self):
    return "yellow"

class orange(fruit):
  def taste(self):
    return "sour"
  def rich(self):
    return "vitamin C"
  def color(self):
    return "orange"

Alphanso=mango()
print(Alphanso.taste(), Alphanso.rich(),Alphanso.color())

sweet vitamin A yellow

In [ ]:
class polygon:
  def get_data(self):
    raise NotImplementedError()
  def area(self):
    raise NotImplementedError()

class rectangle(polygon):
  def get_data(self):
    self.length=float(input(" enter rectangle length"))
    self.breadth=float(input("enter rectangle breadth"))
  def area(self):
    return self.length * self.breadth

class triangle(polygon):
  def get_data(self):
    self.base=float(input("enter rectangle breadth"))
    self.height=float(input(" enter rectangle length"))
  def area(self):
    return 0.5 * self.base * self.height
  
R=rectangle()
R.get_data()
print("area of a rectangle",R.area())
T=triangle()
T.get_data()
print("area of triangle",T.area())

 enter rectangle length21
enter rectangle breadth10
area of a rectangle 210.0
enter rectangle breadth12
 enter rectangle length14
area of triangle 84.0

In [ ]:
#program to interviene polymorphism on complex number

class Complex():
  def __init__(self):
    self.real = 0
    self.img = 0
  def setValue(self, real, img):
    self.real=real
    self.img=img
  def __add__(self,c):
    temp=Complex()
    temp.real=self.real+c.real
    temp.img=self.img+c.img
    return temp
  def display(self):
    print("(",self.real,"+",self.img,"i)")

c1=Complex()
c1.setValue(2,3)
c2=Complex()
c2.setValue(3,4)
c3=c1+c2
print("result is")
c3.display()

result is
( 5 + 7 i)

In [ ]:
#encapsulation
#encapsuling public members
class pub:
  def __init__(self, name, num):
    self.name=name
    self.num=num
  def Num(self):
    print("roll num is",self.num)

obj=pub("sathwika",2019)
obj.Num()

roll num is 2019

In [ ]:
#program to overload the __call__method
class multi:
  def __init__(self,num):
    self.num=num
  def __call__(self,O):
    return self.num*O

x=multi(10)
print(x(5))

50

In [ ]:
#program to over-ride get-item and set-item methods

class mylist:
  def __init__(self, list):
    self.list=list
  def __getitem__(self, index):
    return self.list[index]
  def __setitem__(self, index, val):
    self.list[index]=val
  def __len__(self):
    return len(self.list)
  def display(self):
    print(self.list)

L=mylist([1,2,3,4,5,6,7,8,9])
print("list is.....")
L.display()
index=int(input("enter the index of the list"))
print(L[index])
index=int(input("enter the index of the list"))
num=int(input("enter the position u want to modify"))
L[index]=num
L.display()
print("length of list is:",len(L))

list is.....
[1, 2, 3, 4, 5, 6, 7, 8, 9]
enter the index of the list6
7
enter the index of the list7
enter the position u want to modify22
[1, 2, 3, 4, 5, 6, 7, 22, 9]
length of list is: 9

In [ ]:
class number:
  def __init__(self,num):
    self.num=num
  def display(self):
    return self.num
  def __abs__(self):
    return abs(self.num)
  def __float__(self):
    return float(self.num)
  def __hex__(self):
    return hex(self.num)
  def __oct__(self):
    return oct(self.num)
  def __setitem__(self,num):
    self.num=num

n = number(-15)
print("Number is",n.display())
print("Abs(n) is",abs(n))
n = abs(n)
print("Converting to float",float(n))
print("Converting to hex",hex(n))
print("Convertingtooct",oct(n))

Number is -15
Abs(n) is 15
Converting to float 15.0
Converting to hex 0xf
Convertingtooct 0o17

In [ ]:
#to visualize inheritance flow

class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display(self):
    print("name is ",self.name)
    print("age is ",self.age)
class teacher(person):
    def __init__(self,name,age,exp,area):
      person.__init__(self,name,age)
      self.exp=exp
      self.area=area
    def displaydata(self):
      person.display(self)
      print("experience is",self.exp)
      print("research area is",self.area)
class student(person):
  def __init__(self,name,age,course,marks):
    person.__init__(self,name,age)
    self.course=course
    self.marks=marks
  def displaydata(self):
    person.display(self)
    print("course=",self.course)
    print("marks=",self.marks)

print("-----teacherclass--------")
T=teacher("Mark",43,20,"JSS")
T.displaydata()
print("-----studentclass--------")
S=student("Lucky",20,"B.tech",78)
S.displaydata()

-----teacherclass--------
name is  Mark
age is  43
experience is 20
research area is JSS
-----studentclass--------
name is  Lucky
age is  20
course= B.tech
marks= 78

In [ ]:
#to visualize inheritance flow

class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display(self):
    print("name is ",self.name)
    print("age is ",self.age)
class teacher(person):
    def __init__(self,name,age,exp,area):
      person.__init__(self,name,age)
      self.exp=exp
      self.area=area
    def displaydata(self):
      person.display(self)
      print("experience is",self.exp)
      print("research area is",self.area)
class student(person):
  def __init__(self,name,age,course,marks):
    person.__init__(self,name,age)
    self.course=course
    self.marks=marks
  def displaydata(self):
    person.display(self)
    print("course=",self.course)
    print("marks=",self.marks)

print("-----teacherclass--------")
T=teacher("Mark",43,20,"JSS")
T.displaydata()
print("-----studentclass--------")
S=student("Lucky",20,"B.tech",78)
S.displaydata()

print("T is teacher:", isinstance(T, teacher))
print("T is integer:", isinstance(T, int))
print("T is a person:", isinstance(T, person))
print("T is a object:", isinstance(T, object))
print("person is subclass of teacher",issubclass(person,teacher))
print("Teacher is subclass of person",issubclass(teacher,person))
print("boolean is a subclass of int:",issubclass(bool,int))

-----teacherclass--------
name is  Mark
age is  43
experience is 20
research area is JSS
-----studentclass--------
name is  Lucky
age is  20
course= B.tech
marks= 78
T is teacher: True
T is integer: False
T is a person: True
T is a object: True
person is subclass of teacher False
Teacher is subclass of person True
boolean is a subclass of int: True

In [ ]:
#progarm to invoke __init__ in multiple inheritance

class base1(object):
  def __init__(self):
    print("base class 1")
class base2(object):
  def __init__(self):
    print("base class 1")
class Derived(base1,base2):
  pass
D=Derived()

base class 1

In [ ]:
#progarm to call constructor of base class from super

class base1(object):
  def __init__(self):
    print("base class 1")
    super(base1, self).__init__()
class base2(object):
  def __init__(self):
    print("base class 2")
class Derived(base1,base2):
  pass
D=Derived()

base class 1
base class 2

In [ ]:
class base1(object):
  def __init__(self):
    print("base class 1")
    super(base1, self).__init__()
class base2(object):
  def __init__(self):
    print("base class 2")
class Derived(base1,base2):
  def __init__(self):
    super(Derived, self).__init__()
    print("Derived class")
    
D=Derived()

base class 1
base class 2
Derived class

In [ ]:
class person:
  def name(self):
    print("name is...")
class teacher(person):
  def qual(self):
    print("qualification is phd")
class hod(teacher):
  def expe(self):
    print("experience is 22 years")

HOD=hod()
HOD.name()
HOD.qual()
HOD.expe()

name is...
qualification is phd
experience is 22 years

In [ ]:
class student:
  def name(self):
    print("name.....")
class academic(student):
  def acad_score(self):
    print("academic score 90% above")
class EEE(student):
  def EEE_score(self):
    print("EEE score -----60% and above ")
class  result(academic,EEE):
  def eligibility(self):
    print("_____eligibility to apply_____")
    self.acad_score()
    self.EEE_score()
R=result()
R.eligibility()

_____eligibility to apply_____
academic score 90% above
EEE score -----60% and above

In [ ]:
size=int(input())
count=0
flag=0
max=0
str=input()
arr=list(str)
for i in range(0,size):
  if arr[i] == '1':
    count=count+1
    flag=1
  elif(arr[i]=='0' and flag==1):
    count=0
    flag=0
  if count>max:
    max=count
print(max)

6
101000
1

In [ ]:
v=int(input())
W=int(input())
for i in range(x):
  x=(4v-w)//2
print(x)

In [ ]:
#non repeated character in string
string="LEVEL"
for i in string:
    count=0
    for j in string:
      if i==j:
        count+=1
      if count>1:
        break
    if count==1:
      print("non repeated character",i)

non repeated character V

In [ ]:
class Node:
   def _init_(self, dataval=None):
      self.dataval = dataval
      self.nextval = None

class SLinkedList:
   def _init_(self):
      self.headval = None
# Print the linked list
   def listprint(self):
      printval = self.headval
      while printval is not None:
         print (printval.dataval)
         printval = printval.nextval
   def AtBegining(self,newdata):
      NewNode = Node(newdata)

# Update the new nodes next val to existing node
   NewNode.nextval = self.headval
   self.headval = NewNode

list = SLinkedList()
list.headval = Node("Mon")
e2 = Node("Tue")
e3 = Node("Wed")

NameError: ignored

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if (a>b &a>c):
  print("a is greater")
elif(b>a & b>c):
  print("b is greater")
else:
  print("c is greater")

6
5
1
a is greater

In [ ]:
rows=int(input("enter number of rows"))
for i in range(rows):
  for j in range(i+1):
    print(j+1,end=" ")
  print("\n")

enter number of rows4
1

1 2

1 2 3

1 2 3 4

In [ ]:
rows=int(input("enter number of rows"))
for i in range(rows):
  for m in range(i+1):
    print("*",end=" ")
  print("\n")

enter number of rows4
*

* *

* * *

* * * *

In [ ]:
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

4
24

In [ ]:
n=int(input())
flag=False
if n==1:
  print(n,"ia not a prime")
elif n>=1:
  for i in range(2,n):
    if(n%i==0):
      flag=True
      break
if flag:
  print(n,"is not a prime")
else:
  print(n,"is a prime")

6
6 is not a prime

In [ ]:
n=int(input())
n1=0
n2=1
#count=0
if n<=0:
  print("positive")
elif n==1:
  print("fibonnaci",n)
  print(n1)
else:
  print("Fibonaci sequence")
  while count<n:
    print(n1)
  n=n1+n2
  n1=n2
  n2=n
  count+=1

In [ ]:
sum=0
num=int(input("enter numbers"))
while (num!=0):
  temp=num%10
  sum=sum+temp
  num=num//10
print("sum:",sum)

enter numbers12345
sum: 15

In [ ]:
my_list=[10,20,30,40]
avg=sum(my_list)/len(my_list)
print("average of all the elements:",round(avg,3))

TypeError: ignored

In [ ]:
def Remove(tuples):
  tuples=[t for t in tuples if t]
  return tuples
tuples=[(),('aaa',2,4),(),('bbb',5,6)]
print(Remove(tuples))

[('aaa', 2, 4), ('bbb', 5, 6)]

In [ ]:
#create a tuple of string type
#list of int type
list1=['Red','green','white','black','pink','yellow']
print(list1)
list1.remove('Red')
list1.remove('pink')
list1.remove('yellow')
print(list1)

['Red', 'green', 'white', 'black', 'pink', 'yellow']
['green', 'white', 'black']

In [ ]:
txt="Hello"[::-1]
print(txt)

olleH

In [ ]:
my_list=[10,20,30,40,50]
avg=sum(my_list)/len(my_list)
print("average of all the elements:",round(avg,3))

TypeError: ignored

In [4]:
n=int(input())
for i in range(0,n):
  name=input()
  password=input()
  print(name)
  print(password)

2
abcd
123
abcd
123
fgvfv
567
fgvfv
567

In [5]:
n=int(input())
arr=[]
for i in range(n):
  username=input("username:")
  password=input("password")
  arr.append({username:password})

print(arr)

2
username:lucky
password1234
username:maha
password56
[{'lucky': '1234'}, {'maha': '56'}]

In [10]:
n=int(input())
arr=[]
for i in range(n):
  username=input("username:")
  password=input("password")
  arr.append({username:password})
print(arr)
u=input("username:")
p=input("password")
found=False
for obj in arr:
  try:
    password=obj[u]
    found=True
    if p==password:
      print("valid password")
    else:
      print("invalid password")
  except:
    pass
if found==False:
  print("user not found")

2
username:lucky
password1234
username:sath
password3456
[{'lucky': '1234'}, {'sath': '3456'}]
username:lucky
password1234
valid password

In [13]:
stack=[]
stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
stack.append(5)
print(stack)
stack.pop()
print(stack)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]